# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    1. Numpy
    2. pandas
    3. Matplotlib
    4. Tensor Flow
    5. Apache spark

In [ ]:
| Data Science Tools|
|-------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 6
200/60

3.3333333333333335

 **Objectives:** 
 unordered list
 - python
 - R
 - Sql
 - Julia 
 - Scala

## Author
  Vemula satwik